.swagger-ui .topbar {
    background-color: #1a202c; /* Dark header */
}

.swagger-ui .topbar-wrapper span {
    color: #fff; /* Header text color */
}

.swagger-ui .scheme-container {
    display: none; /* Hide scheme dropdown if needed */
}

body{
    background-color:black;
}